/* Error: 50% and 1 are incompatible.
 *     ,
 * 186 |             top: calc(50% - 1);
 *     |                       ^^^^^^^
 *     '
 *   _header.scss 186:23  @import
 *   style.scss 21:8      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 50% and 1 are incompatible.\a     \2577 \a 186 \2502              top: calc(50% - 1);\a     \2502                        ^^^^^^^\a     \2575 \a   _header.scss 186:23  @import\a   style.scss 21:8      root stylesheet";
}
