.header {
    position: fixed;
    background-color: $BlueColor;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue('min-height',76, 60);
        @include adaptiveValue('column-gap',32, 10);
    }


    &__logo {
        display: inline-block;
        position: relative;
        z-index: 4;
        margin-right: toRem(10);
        max-width: toRem(149);
        & img {
            max-width: 100%;
            aspect-ratio: 149/22;
            object-fit: cover;
        }
    }

    // .header__menu

    &__menu {
        @media (max-width: toEm(767.98)) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: $BlueColor;
            transition: all 0.3s;
            z-index: 2;
            overflow: auto;
            @include adaptiveValue('padding-top',80, 70);
            padding: toRem(0) toRem(20) toRem(20);
            &::before {
                content: '';
                position: fixed;
                z-index: 3;
                width: 100%;
                @include adaptiveValue('height',76, 60);
                top: 0;
                left: -100%;
                // background-color: $BlueColor;
            }
            .menu-open & {
                left: 0;
            }
        }
    }

    &__action {
        position: relative;
        z-index: 4;
    }
}
.menu {
    &__list {
        display: flex;
        @include adaptiveValue('column-gap',32, 10);
        row-gap: toRem(8);
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: toEm(767.98)){
            flex-direction: column;
            gap: toRem(20);
            align-items: flex-start;
        }
    }

    &__item {
        @media (max-width: toEm(767.98)) {
            padding-bottom: toRem(20);
            border-bottom: 1px solid rgba(26, 35, 126, 1);
            width: 100%;
        }
    }

    &__item--parent {
        position: relative;
        z-index: 3;
        display: flex;
        gap: toRem(9);
        align-items: center;
        &::after {
            content: '';
            background-image: url('../img/icons/ch-down.svg');
            transition: transform 0.3s;
            flex: 0 0 toRem(10);
            height: toRem(6);
        }
        &:hover {
            & .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translate(0px, 0px);
                pointer-events: all;
            }
            &::after {
                transform: rotate(-180deg);
            }
        }
        @media (max-width: toEm(767.98)) {
            display: block;
        }
    }


    &__link {
        font-family: 'Manrope', serif;
        font-weight: 500;
        line-height: 1.6;
        color: $whiteColor;
        transition: all 0.5s;
        cursor: pointer;
        user-select: none;
        @media (any-hover:hover) {
            &:hover {
                color: $yellowColor;
                text-decoration: underline;
            }
        }

        @media (max-width: toEm(767.98)){
            font-size: toRem(26);
        }
    }
}

.action-header {
    display: flex;
    gap: toRem(10);
    justify-content: center;
    align-items: center;

    &__btn {
        flex: 0 0 auto;
        @include adaptiveValue ('font-size', 14, 10);
    }

    &__icon {
        flex: 0 0 auto;
    }
}

.icon-menu {
    display: none;
    @media (max-width: toEm(767.98)) {
        display: block;
        position: relative;
        width: toRem(30);
        height: toRem(18);
        z-index: 5;
        @media (any-hover: none) {
            cursor: default;
        }
        span,
        &::before,
        &::after {
            content: '';
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: toRem(2);
            background-color: $whiteColor;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - toRem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - toRem(1));
                transform: rotate(-45deg);
            }
            &::after {
                top: calc(50% - toRem(1));
                transform: rotate(45deg);
            }
        }
    }
}
.sub-menu {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: toRem(5);
    pointer-events: none;
    @media (max-width: toEm(767.98)) {
        position: relative;
        visibility: visible;
        transform: translate(0px, 0px);
        opacity: 1;

    }

    &__list {
        box-shadow: 0 1px 2px 0 rgba(40, 43, 48, 0.05);
        border: toRem(1) solid $textWhiteColor;
        background-color: $whiteColor;
        padding: toRem(16) toRem(24);
        border-radius: toRem(16);
        min-width: toRem(250);
        display: grid;
        gap: toRem(12);
        @media (max-width: toEm(767.98)){
            background-color: $BlueColor;
            border: toRem(1) solid transparent;
        }
    }

    &__item {
    }

    &__link {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 1.6;
        color: $darkColor;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: toEm(767.98)){
            color: $whiteColor;
            font-size: toRem(24);
        }
    }
}
