$BlueColor: rgba(18, 22, 84, 1);

$GrayColor: rgba(246, 247, 248, 1);

$textDarkColor: rgba(122, 128, 150, 1);

$darkColor: rgba(49, 50, 58, 1);

$whiteColor: rgba(255, 255, 255, 1);

$textWhiteColor: #e5e7eb;

$yellowColor: rgba(237, 253, 118, 1);

$yellowHoverColor: rgba(216, 243, 40, 1);
